/* =====================================
   RESPONSIVE FINAL
   CELULAR - TABLET - LAPTOP
===================================== */


/* Evitar desbordamiento */

html, body{

    width:100%;

    overflow-x:hidden;

}


/* LAPTOP Y PANTALLAS GRANDES */

@media(min-width:1024px){

    body{

        padding:30px;

    }


    .card{

        max-width:560px;

    }


    footer{

        max-width:560px;

    }

}



/* TABLET */

@media(min-width:600px) and (max-width:1023px){

    body{

        padding:20px;

        justify-content:center;

    }


    .card{

        width:90%;

        max-width:600px;

        padding:30px;

    }


    h1{

        font-size:26px;

    }


    .resultado{

        padding:22px;

    }


    footer{

        width:90%;

    }

}



/* CELULAR */

@media(max-width:599px){

    body{

        padding:10px;

        justify-content:flex-start;

    }



    .card{

        width:100%;

        padding:18px;

        border-radius:20px;

    }



    .logo img{

        width:80px;

        height:80px;

    }



    h1{

        font-size:21px;

    }



    .input-box input{

        font-size:16px;

    }



    button{

        font-size:16px;

        padding:13px;

    }



    .resultado{

        padding:15px;

        border-radius:18px;

    }



    .fila{

        flex-direction:column;

        gap:4px;

    }



    .fila strong{

        text-align:left;

    }



    table{

        min-width:260px;

    }



    th,td{

        padding:8px;

        font-size:14px;

    }



    .bloque{

        padding:12px;

    }



    footer{

        width:100%;

        font-size:12px;

        padding:10px;

        margin-top:15px;

    }

}
