/* ===================================
   MEJORAS RESPONSIVE FINAL
   Compatible móvil - tablet - PC
=================================== */


/* Evitar desplazamiento horizontal */

html, body{

    width:100%;

    overflow-x:hidden;

}



/* Contenedor general */

body{

    flex-direction:column;

    justify-content:center;

}



/* Footer adaptable */

footer{

    position:relative;

    width:min(100%,560px);

    margin-top:20px;

    padding:10px;

    text-align:center;

    line-height:1.4;

}



/* Celular vertical */

@media(max-width:480px){


body{

    min-height:100vh;

    padding:10px;

    justify-content:flex-start;

    align-items:center;

}



.card{

    width:100%;

    max-width:100%;

    padding:20px;

    margin-top:10px;

}



.logo img{

    width:85px;

    height:85px;

}



h1{

    font-size:20px;

}



.resultado{

    padding:18px;

}



.resultado h2{

    font-size:18px;

}



/* Tabla adaptable */

.tabla-años{

    overflow-x:auto;

}



table{

    min-width:260px;

}



/* Footer móvil */

footer{

    font-size:12px;

    width:100%;

    margin-bottom:10px;

}



}
